:host {
  --primary-color: lightblue; /* Blue */
  --secondary-color: rgb(236, 85, 85); /* Light Gray */
  --text-color: #333333; /* Dark Text */
}

.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    flex: 1 1 calc(25% - 10px);
    background-color: var(--primary-color);
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    margin-inline: 100px;
    margin-top: 5px;
  }
